body {
    margin: 0;
    background: url("../Images/Main/Background_simple.jpg");
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 2  0px;
    backdrop-filter: blur(1.5px);
}
.header_logo {
    font-size: 150px;
    font-family: 'Amatic SC', cursive;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-weight: 700;
    margin-left: 150px;
}
.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav {
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    margin-right: 150px;
}
.nav_link {
    text-decoration: none;
    transition: color 0.2s linear;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    background-color: #1b1d1d;
    background-image: linear-gradient(90deg, #94242c, #1b4644);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.Sidenav {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.Sidenav_link{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
}
:hover.Sidenav_link{
    background-color: darkolivegreen;
    transition: 0.3s;

}
.AddProductWindow {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border-color: rgb(35, 89, 236);
    border: 1px solid#000000
}
.DeleteProductWindow {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border-color: rgb(35, 89, 236);
    border: 1px solid#000000
}
.EditProductWindow {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border-color: rgb(35, 89, 236);
    border: 1px solid#000000
}
.UserInfo {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border-color: rgb(35, 89, 236);
    border: 1px solid#000000
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

button[type=submit] {
    font-family:Arial, Helvetica, sans-serif;
    background-color: red;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    height: 60px;

}
button[type=submit]:hover {
    background-color: white;
    color: red;
    border-color: red;
    border-width: 1px;
    border-style: solid;
    transition: 0.4s;
}
.TitleInfo {
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
}